<% provide :title do %><%= t("devise_views.users.registrations.new.title") %><% end %>
<h2><%= t("devise_views.users.registrations.new.title") %></h2>

<%= render "devise/omniauth_form" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "shared/errors", resource: resource %>

  <p>
    <%= sanitize(t("devise_views.users.registrations.new.organization_signup",
        signup_link: link_to(t("devise_views.users.registrations.new.organization_signup_link"), new_organization_registration_path))) %>
  </p>

  <div class="row">
    <div class="small-12 column">

      <%= f.hidden_field :use_redeemable_code %>
      <%= f.hidden_field :locale, value: I18n.locale %>

      <%= f.text_field :username,  autofocus: true, maxlength: User.username_max_length,
                                   placeholder: t("devise_views.users.registrations.new.username_label"),
                                   hint: t("devise_views.users.registrations.new.username_note") %>

      <%= f.invisible_captcha :address %>

      <%= f.email_field :email, placeholder: t("devise_views.users.registrations.new.email_label") %>

      <%= f.select :gender, options_for_select([[t("devise_views.users.registrations.new.gender.male"), 'male'],[t("devise_views.users.registrations.new.gender.female"), 'female']]), { include_blank: false }, label: t("devise_views.users.registrations.new.gender_label") %>

      <%= f.date_field :date_of_birth, label: t("devise_views.users.registrations.new.date_of_birth_label") %>

      <%= f.select :state, options_for_select([
          [t("devise_views.users.registrations.new.state.inside"), 'Inside Garowe Town'],
          [t("devise_views.users.registrations.new.state.outside"), 'Outside Garowe Town'],
        ]), { include_blank: false }, label: t("devise_views.users.registrations.new.state_label") %>

      <%= f.select :district, options_for_select([
          [t("devise_views.users.registrations.new.district.1da-august"), '1da-august'],
          [t("devise_views.users.registrations.new.district.halgan"), 'halgan'],
          [t("devise_views.users.registrations.new.district.hodan"), 'hodan'],
          [t("devise_views.users.registrations.new.district.horseed"), 'horseed'],
          [t("devise_views.users.registrations.new.district.israac"), 'israac'],
          [t("devise_views.users.registrations.new.district.waaberi"), 'waaberi'],
          [t("devise_views.users.registrations.new.district.wadajir"), 'wadajir'],
          [t("devise_views.users.registrations.new.district.jillab"), 'jillab']
        ]), { include_blank: false }, id: "districts_1" %>

        <%= f.select :district, options_for_select([
          [t("devise_views.users.registrations.new.district.reemanti"), 'reemanti'],
            [t("devise_views.users.registrations.new.district.qalanqal"), 'qalanqal'],
            [t("devise_views.users.registrations.new.district.berri cad"), 'berri cad'],
            [t("devise_views.users.registrations.new.district.laqlajis"), 'laqlajis'],
            [t("devise_views.users.registrations.new.district.awr-culus"), 'awr-culus'],
            [t("devise_views.users.registrations.new.district.yoombays"), 'yoombays'],
            [t("devise_views.users.registrations.new.district.dudumaale"), 'dudumaale'],
            [t("devise_views.users.registrations.new.district.xamxamaa"), 'xamxamaa'],
            [t("devise_views.users.registrations.new.district.qabaal"), 'qabaal'],
            [t("devise_views.users.registrations.new.district.shaf-garas"), 'shaf-garas'],
            [t("devise_views.users.registrations.new.district.sunijiif"), 'sunijiif'],
            [t("devise_views.users.registrations.new.district.cuun"), 'cuun'],
            [t("devise_views.users.registrations.new.district.seega-dheer"), 'seega-dheer'],
            [t("devise_views.users.registrations.new.district.timirka"), 'timirka'],
            [t("devise_views.users.registrations.new.district.caanoyaskax"), 'caanoyaskax'],
            [t("devise_views.users.registrations.new.district.xamur"), 'xamur'],
            [t("devise_views.users.registrations.new.district.balley"), 'balley'],
            [t("devise_views.users.registrations.new.district.labiyo-labaatanad"), 'labiyo-labaatanad'],
            [t("devise_views.users.registrations.new.district.salaxley"), 'salaxley'],
            [t("devise_views.users.registrations.new.district.dod hays"), 'dod hays'],
            [t("devise_views.users.registrations.new.district.rabaable"), 'rabaable'],
            [t("devise_views.users.registrations.new.district.xaliimo-dheer"), 'xaliimo-dheer'],
            [t("devise_views.users.registrations.new.district.ilma-adeer"), 'ilma-adeer'],
            [t("devise_views.users.registrations.new.district.birta-dheer"), 'birta-dheer'],
            [t("devise_views.users.registrations.new.district.abaarey"), 'abaarey'],
            [t("devise_views.users.registrations.new.district.kalabayr"), 'kalabayr'],
            [t("devise_views.users.registrations.new.district.ceel-wacays"), 'ceel-wacays'],
            [t("devise_views.users.registrations.new.district.kalqore"), 'kalqore'],
            [t("devise_views.users.registrations.new.district.ooman"), 'ooman'],
            [t("devise_views.users.registrations.new.district.dacarre"), 'dacarre']
        ]), { include_blank: false, label: false }, id: "districts_2" %>



      <%= f.select :last_education_degree, options_for_select([
          [t("devise_views.users.registrations.new.last_education_degree.non"), 'non'],
          [t("devise_views.users.registrations.new.last_education_degree.primary_elementary"), 'primary_elementary'],
          [t("devise_views.users.registrations.new.last_education_degree.preparatory"), 'preparatory'],
          [t("devise_views.users.registrations.new.last_education_degree.secondary"), 'secondary'],
          [t("devise_views.users.registrations.new.last_education_degree.bachelor"), 'bachelor'],
          [t("devise_views.users.registrations.new.last_education_degree.diploma"), 'diploma'],
          [t("devise_views.users.registrations.new.last_education_degree.masters"), 'masters'],
          [t("devise_views.users.registrations.new.last_education_degree.phd"), 'phd'],
        ]), { include_blank: false }, label: t("devise_views.users.registrations.new.last_education_degree_label") %>


      <%= f.password_field :password, autocomplete: "off",
                           placeholder: t("devise_views.users.registrations.new.password_label") %>

      <%= f.password_field :password_confirmation, autocomplete: "off",
                           label: t("devise_views.users.registrations.new.password_confirmation_label"),
                           placeholder: t("devise_views.users.registrations.new.password_confirmation_label") %>





      <% if resource.use_redeemable_code %>
        <%= f.text_field :redeemable_code %>
      <% end %>

      <%= f.check_box :terms_of_service,
        title: t("devise_views.users.registrations.new.terms_title"),
        label: t("devise_views.users.registrations.new.terms",
                 terms: link_to(t("devise_views.users.registrations.new.terms_link"), "/conditions",
                                title: t("shared.target_blank"),
                                target: "_blank")
                ) %>

      <div class="small-12 medium-6 small-centered">
        <%= f.submit t("devise_views.users.registrations.new.submit"), class: "button expanded" %>
      </div>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
